* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #9384d1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  overflow: hidden;
  
}

.container {
  /* border: 1px solid black; */
  background-color: #c9a7eb;
  /* width: 30vw;
  height: 20vw; */
  width: 90%;
  max-width: 450px;
  margin: 10px;
  padding: 28px;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */

  border-radius: 7px;
  box-shadow: 10px 10px 15px #313030;
  overflow: hidden;
  
}

.heading {
  /* text-align: center; */
  font-size: 3rem;
  margin-bottom: 12px;
}

.input {
  padding: 10px 40px;
  text-align: center;
  font-family: monospace;
  margin-bottom: 20px;
  background: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.input::placeholder {
  color: black; 
}

.info {
  padding-bottom: 13px;
}

.m-contain, .t-contain{
   
    margin:  10px;
        font-size: 14px;
}



.adio{
  display: flex;
  align-items: center;
  justify-content: center;
}
#audio {

  width: 290px;
  height: 36px;

  padding-top: 11px;
  cursor: pointer;
  margin-top: 15px;
}

audio::-webkit-media-controls-panel {
  background-color: #ecc9ee; /* change background color */
}

.meaning-container{
  display: none;
 
     
}